html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s linear;
  outline: none;
}
*::selection {
  background-color: yellowgreen;
  color: #fff;
}
header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/images/background.jpg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 91%, 51% 100%, 0 91%, 0 0);
}
nav {
  padding: 2% 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
nav .logo {
  font-size: 3rem;
  cursor: pointer;
}
nav .logo span {
  color: yellowgreen;
}
nav .links {
  padding-left: 0px;
}
nav .links li {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.5rem;
}
nav .links li a {
  color: #fff;
}
.links .active {
  color: yellowgreen;
}
.links li a:hover {
  color: yellowgreen;
}
header .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header .content h1 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}
.btn {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: 0.3rem solid yellowgreen;
  color: yellowgreen;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 2rem;
  margin-top: 1.8rem;
}
.btn:hover {
  background-color: yellowgreen;
  color: #fff;
}
nav .open,
nav .links .close {
  font-size: 1.8rem;
  cursor: pointer;
  color: yellowgreen;
  display: none;
}
@media (max-width: 850px) {
  nav .links {
    height: 25rem;
    width: 60%;
    position: fixed;
    top: 0px;
    right: 0px;
    border-radius: 1.2rem;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    z-index: 999;
  }
  nav .links li {
    font-size: 1.8rem;
    margin: 0.5rem;
  }
  nav .links li a {
    color: #000;
  }
  nav .open,
  nav .links .close {
    display: block;
    position: absolute;
    top: 1.8rem;
    right: 1.8rem;
  }
  header .content h1 {
    font-size: 5rem;
  }
}
/* end of header  */
/* start of about  */
.about .row {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2% 6%;
}
.about .row .image {
  flex: 1 1 30rem;
}
.about .row .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 7px 7px 10px 0px;
}
.about .row .content {
  flex: 1 1 30rem;
  padding: 2rem;
  text-align: center;
}
.about .row .content h1 {
  font-size: 3rem;
  color: yellowgreen;
  margin-bottom: 1rem;
}
.about .row .content p {
  line-height: 1.6;
  margin-bottom: 1rem;
}
/* end of about */
/* strat of services */
.services {
  padding: 2% 6%;
  min-height: 100vh;
  text-align: center;
}
.services h1 {
  display: inline-block;
  font-size: 3.8rem;
  padding: 0.5rem;
  color: yellowgreen;
  border-bottom: 0.3rem solid yellowgreen;
  margin-bottom: 1.8rem;
}
.services .container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.services .container .box {
  width: 23rem;
  height: 23rem;
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 7px 7px 10px 0px;
}
.services .container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services .container .box .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: bottom;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.services .container .box:hover .info {
  transform: translate(-50%, -50%) scale(1);
}
.services .container .box .info h3 {
  font-size: 2rem;
  color: yellowgreen;
  margin-bottom: 1.2rem;
}
.services .container .box .info p {
  line-height: 1.6;
  padding: 0 1rem;
  font-size: 1rem;
  color: #fff;
}
/* strat of trainers */
.trainers {
  min-height: 100vh;
  text-align: center;
  padding: 2% 6%;
}
.trainers h1 {
  display: inline-block;
  font-size: 3.8rem;
  padding: 0.5rem;
  color: yellowgreen;
  border-bottom: 0.3rem solid yellowgreen;
  margin-bottom: 1.8rem;
}
.trainers p {
  font-size: 1.2rem;
  color: #333;
}
.trainers .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.trainers .items .item {
  height: 26rem;
  width: 16rem;
  margin: 4rem 1rem;
}
.trainers .items .item:hover {
  transform: translateY(-20px);
}
.trainers .items .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.6rem;
  box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.7);
}
.trainers .items .inner {
  position: relative;
  padding: 0 1rem;
  z-index: 9999;
  margin-top: -2.6rem;
}
.trainers .items .item:hover .inner {
  transform: translateY(-30px);
}
.trainers .items .inner .info {
  background-color: yellowgreen;
  padding: 1.2rem 1rem;
  border-radius: 0.6rem;
}
.trainers .items .inner .info h4 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
}
.trainers .items .inner .info p {
  font-size: 1.1rem;
  color: #333;
  font-weight: 400;
  margin-top: 0.6rem;
}
.trainers .items .inner .info .links {
  margin-top: 1rem;
}
.trainers .items .inner .info .links a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  color: yellowgreen;
  background-color: #fff;
  margin-left: 0.3rem;
  font-size: 1.1rem;
}
.trainers .items .inner .info .links a:hover {
  box-shadow: 0 0 0.6rem #000;
}
/* end of trainers */
/* strat of plan */
.pricing-table {
  min-height: 100vh;
  padding: 2% 6%;
  text-align: center;
}
.pricing-table h1 {
  display: inline-block;
  font-size: 3.8rem;
  padding: 0.5rem;
  color: yellowgreen;
  border-bottom: 0.3rem solid yellowgreen;
  margin-bottom: 2.2rem;
}
.pricing-table .pricing-card {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.pricing-table .pricing-card .pricing-box {
  width: 23rem;
  box-shadow: 2px 2px 6px #000;
  margin-bottom: 4rem;
}
.pricing-table .pricing-card .pricing-box:hover {
  transform: translateY(-30px);
}
.pricing-table .pricing-card .pricing-box h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  background-color: yellowgreen;
  padding: 1.2rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.pricing-table .pricing-card .pricing-box h3 {
  color: yellowgreen;
  font-size: 4rem;
  margin-top: 2rem;
}
.pricing-table .pricing-card .pricing-box h3 sup {
  font-size: 2rem;
}
.pricing-table .pricing-card .pricing-box h3 span {
  font-size: 2rem;
}
.pricing-table .pricing-card .pricing-box p {
  font-size: 2.5rem;
  color: #333;
}
.pricing-table .pricing-card .pricing-box ul {
  padding: 2rem;
}
.pricing-table .pricing-card .pricing-box ul li {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.pricing-box .btn {
  margin-bottom: 2rem;
  text-transform: capitalize;
}
/* end of plan */
/* strat of footer */
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/register.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}
footer h1 {
  display: inline-block;
  font-size: 3.8rem;
  padding: 0.5rem;
  color: yellowgreen;
  border-bottom: 0.3rem solid yellowgreen;
  margin-bottom: 1.8rem;
}
footer .register {
  padding: 2% 6%;
  margin: 0 auto;
}
footer .register .input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .register .input-box input,
textarea {
  width: 49%;
  height: 4rem;
  background-color: transparent;
  border: 1px solid #ddd;
  margin: 1rem 0;
  padding: 1rem 3rem;
  color: #ddd;
  position: relative;
}
footer .register .input-box input::before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ddd;
  top: 0px;
  left: 0px;
}
footer .register textarea {
  height: 20rem;
  width: 100%;
}
@media (max-width: 767px) {
  footer .register .input-box input {
    width: 100%;
  }
}
